#box-content {
  width: 660px;
  height: 595px;
  border: 1px solid black;
  overflow: hidden;
}
.box-inside {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float: left;
  text-align: center;
  cursor: pointer;
}
