#box-content {
  width: 630px;
  height: 588px;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  overflow: hidden;
}
.box-inside {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  float: left;
  text-align: center;
  cursor: pointer;
  font-family: "Copperplate Gothic Light";
  font-weight: bold;
}
